@include breakpoint($phone) {
	.hide-phone, .title, .subnav {
		display: none;
	}
}
@include breakpoint($phablet) {
	.show-phone {
		display: none;
	}
}
/* -------------------------------------------------- */

/* !layout blocks */

/* -------------------------------------------------- */
.viewport {
	background: $black;
	.main {
		width: 100%;

		//@include single-box-shadow(rgba(0, 0, 0, .1), 0px, 0px, 2px, 2px, false);
	}
}
.wrapper {
	@extend %wrapper;
		max-width: $max-width;
		margin: 0 auto;
	@include clearfix;
	padding: $spacer/2;
	@include breakpoint($phablet) {
		padding: $spacer;	
	}
}
.row {
	@include breakpoint($desktop) {
		@include row();
		> [class*="col"] {
			@include column (6);
		}
		&.trident {
			> [class*="col"] {
				@include column (8);
				&:last-child {
					@include column (4);
				}
			}
		
		}
		&.tri {
			> [class*="col"] {
				@include column (4);
				&.wide {
					@include column (8);
				}
			}

		}
		&.quad {
			> [class*="col"] {
				@include column (3);
				&.wide {
					@include column (6);
				}
				&.wider {
					@include column (9);
				}
			}
		}
		&.senary {
			> [class*="col"] {
				@include column (2);
				margin-bottom: 1.5em !important;
			}
		}
	}
}

[role], footer {
	@include clearfix;
}

@include breakpoint($phone) {
	footer, .newsletter {
		padding: $spacer 0;
		.col {
			margin-bottom: $spacer/2;
		}
	}

}
.newsletter {
	background: $blue_light;
	color: $white;
	margin-top: $spacer * 2;
	font-weight: bold;
	p {
		@include adjust-font-size-to(ms(-1, $base-font-size), 0.8);
		font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	}
	input {
		position: relative;
		width: 60%;
		top: -2px;
		height: $spacer + 6px;
		border-bottom: 2px solid shade($white, 20%);
	}	
	.button {
		background-color: $blue;
		border-color: shade($blue, 20%);
	}
	@include breakpoint($desktop) {
		.row {
			> [class*="col"] {
				@include column (6);
				&:nth-child(n+2) {
					@include column (3);
				}
			}
		}
	}
}
footer {
	background: $black;
	color: $white;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	padding: $spacer 0;
	.logo {
		margin-bottom: 0;
	}
	a {
	
		font-weight: bolder;
	}
	p {
		font-size: 13px;
		margin-bottom: 0;
		color: $brown_light;
	}
	@include breakpoint($phablet) {
		ul {
			@include clearfix;
			margin: 0;
			li {
				display: inline-block;
				width: auto;
				a {
					padding-left: 0;
					font-size: 13px;
					color: $brown_light;
					font-weight: bold;
				}
			}
			&.major {
				@include clearfix;
				margin-top: $spacer/4;
				margin-bottom: -$spacer/2;
				li {
					margin-right: $spacer/4;
					a {
						font-size: 16px;
						color: $green;
					}
				}
			}
		}
	}

}
/* !grids */
.pane {
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	height: auto;
}
.panel {
	position: relative;
	background-color: $black;
	background-position: 50% 50%;
	background-size: cover;
	@include intrinsic-ratio(1);
	float: left;
	> div {
		padding: $spacer/2 !important;
		@include breakpoint($desktop) {
			padding: $spacer !important;
		}
	}
	&.donate {
		p {
			a {
				color:$green_light;	
			}
		}
		.button {
			background-color: $green_light;
		}
	}
	&.alt {	
		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			@include background-image(linear-gradient(rgba(#000, 0.9), transparent));
			top: 0;
			bottom: 0%;
			left: 0;
			right: 0;
		}
	}
	.desc {
		position: absolute;
		z-index: 1;
		bottom: $spacer;
		left: $spacer/2;
		right: $spacer/2;
		* {
			color: $white;
			span {
				color: $blue_light;
			}
		}
	}
}
a.panel:hover {
	.modal-trigger {
		opacity: 1;
	}
}
.double {
	.panel {
		@include intrinsic-ratio(4/3, 50%);
		background-color: $white;
		> div {
			
		}
	}
}
.cluster {
	background: $black;
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: $spacer;
	color: $white;
	h1 {
		color: $white;
	}
	@include clearfix;
	@include breakpoint($desktop) {
		//height: (100vw/3);
	}
	&.hero {
		padding: 0;
		margin-bottom: 0;

	}
	.pane {
		float: left;
		@include breakpoint($phone) {
			&:nth-child(1) {
				.panel {
					@include intrinsic-ratio(0.75, 100%);
				}
			}
		}
		@include breakpoint($desktop) {
			width: (100%/3);
			height: (100vw/3);
			&.alt {
				.a:not([style*="#"]), .b:not([style*="#"]), .c:not([style*="#"]) {
					> div {
						@include background-image(linear-gradient(transparent, #000));
					}
				}
			}
		}
	}
	@include breakpoint($desktop) {
		.panel {
			&.b {
				@include intrinsic-ratio(2, 100%);
			}
			&.c {
				@include intrinsic-ratio(1, 50%);
			}
			&.d {
				@include intrinsic-ratio(0.5, 50%);
			}
			&.e {
				@include intrinsic-ratio(1, 25%);
			}
			&.f {
				@include intrinsic-ratio(2, 50%);
			}
			&.on {
				> div {
					border:$spacer/2 solid $black;
				}
			}
			&.off {
				opacity: 0.5;
				> div {
					opacity: 0.5;	
				}
			}
		}
	}
}
.grid-list {
	@include clearfix;
	@include breakpoint($tabtop) {
		.panel {
			@include intrinsic-ratio(1, 100%/6);
			&:not([class*="title"]) > div {
				@include background-image(linear-gradient(transparent, #000));
			}
			&.title {
				background: $green;
				color: $white;
				border: none;
			}
		}
	
	}

}
.flag {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: auto;
	background: $green;
	color: $white;
	@include adjust-font-size-to(ms(-2, $base-font-size));
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: $spacer/6 $spacer/4;
/*
	&:after {
		content:"";
		position:absolute;
		left:0;
		bottom: -$spacer/2;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 $spacer/2 $spacer/2 0;
		border-color: transparent shade($green, 60%) transparent transparent;

	}
*/
}
.grid {
	@include clearfix;
	@include breakpoint($desktop) {
		@include row();
		.col {
			@include column (4);
			&.wider {
				@include column (8);
			}
		}
	}
	.item {
		position: relative;
		margin-bottom: $spacer;
		.media {
			background-size: cover;
			background-position: 50% 50%;
			@include intrinsic-ratio(4/3);
		}
		.meta {
			padding: $spacer/3 0;
			@include adjust-font-size-to(ms(-1.5, $base-font-size), 0.65);
			font-family: "Legacy Serif ITC W01 Bk", "Georgia", serif;
			text-transform: uppercase;		
			border-bottom: 1px solid $secondary;
					
		}
		.desc {
			padding-top: $spacer/3;
		}
	}
	@include breakpoint($desktop) {
		.item {
			
			background: shade($white, 5%);
			@include column (4);
			margin-bottom: $spacer/2;
			@include single-box-shadow(rgba(0, 0, 0, .05), 0px, 0px, 2px, 1px, false);
			text-align: center;
			font-weight: bold;
			border-bottom: 4px solid $secondary;
			min-height: 35vw;
			
			.meta {
				padding: $spacer/3 $spacer;
			}
			.desc {
				padding: $spacer/2 $spacer $spacer;
				color: shade($primary, 18%);
			}
		}
	}

}
.carousel {
	@include flexslider(4/3);
	.pane {
		height: 100%;
		@include single-box-shadow(rgba(0, 0, 0, .05), 0px, 0px, 2px, 1px, false);
		> div:after {
			content: "";
			position: absolute;
			z-index: 0;
			@include background-image(linear-gradient(transparent, #000));
			top: 20%;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	.desc {
		position: absolute;
		z-index: 1;
		bottom: $spacer;
		left: $spacer/2;
		right: $spacer/2;
		* {
			color: $white;
		}
	}
}
.hero {
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 540px;
	padding: $spacer 0;
	hr {
		border-color: rgba($white, 0.4);
	}
	&.alt {
		background-color: $blue_dark; 
		color: $white;
		padding: $spacer*1.5 0;
		a {
			color: $white;
		}
		h1 {
			color: $white;
		}
		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			@include background-image(linear-gradient(rgba(#000, 0.8), transparent));
			top: 0;
			bottom: 0%;
			left: 0;
			right: 0;
		}
	}
	&.carousel {
		padding: 0;
		@include flexslider(2.35);
		margin-bottom: $spacer*2;
		min-height: auto;
		.pane {
			padding: 0;
			margin: 0;
			&:before {
				content: "";
				position: absolute;
				z-index: 0;
				@include background-image(linear-gradient(rgba(#000, 0.8), transparent));
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
		.wrapper {
			margin-top: $spacer;
		}
	}
	&.callout {
		background-color: $black;
		color: $white;
	}
	&.closer {
		margin-bottom: -$spacer*2;
		//@include filter(grayscale(80%));
		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			//@include background-image(linear-gradient(rgba(#000, 0.8), transparent));
			background: rgba(shade($blue, 80%), 0.8);
			top: 0;
			bottom: 0%;
			left: 0;
			right: 0;
		}
	}
	&.ambient {
		//@include filter(grayscale(60%));
		padding: 0;
	}
}
.title {
	background-color: $black; 
	border-top: 1px solid tint($black, 5%);
	ul {
		list-style-type: none;
		@extend %links-macro;
		
		font-weight: lighter;
		color: $brown;
		padding: 0;
		overflow: hidden;
		li {
			position: relative;
			float: left;
			padding: $spacer/3 0;
			
			a {
				color: $brown;
				font-size: 82.5%;
			}
			&:after {
				content: "\e83f";
				font-family: "fontello";
				font-weight: normal;
				padding: 0 5px;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				a {
					color: $green;
				}
				&:after {
					content: "";
				}	
			}
		}
	}
	.wrapper {
		padding: 0 $spacer;
	}
}
// layout types
.dashboard {
	position:relative;
	width: 100%;
	border-top: 1px solid $secondary;
	//border-bottom: 1px solid $secondary;
	padding: $spacer/2 $spacer/4;
	background: shade($white, 5%);
	margin-bottom: $spacer/2;
	height: $spacer*2;
	@include clearfix;
	h2 {
		@include adjust-font-size-to(ms(-1, $base-font-size), 1);
		@include rhythm(0,0,0,0);
		font-weight: 600;
		color: shade($primary, 18%);
		span {
			text-transform: uppercase;
			display: block;
			font-size: 11px;
			line-height: 11px;
		}
	}
	.status {
		position: absolute;
		z-index: 9;
		bottom: 30px;
		left: 40%;
		padding: 8px 8px 4px 8px;
		background: $white;
		&:after {
			position: absolute;
			content: "";
			right: 0;
			bottom: -20px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 20px 20px 0;
			border-color: transparent #fff transparent transparent;

		}
	}
	.stage {
		position: absolute;
		z-index: 2;
		bottom: 0;
		height: 16px;
		font-family: "Helvetica", Arial, sans-serif;
		font-weight: bold;
		color: $white;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 11px;
		padding: 2px;
		display: block;
		&.a {
			width: 75%;
			left: 0;
			background: $green_light;
		}
		&.b {
			width: (25%/2);
			left: 75%;
			background: $green;
		}
		&.c {
			width: (25%/2);
			right: 0;
			background: $black;
		}	
	}
	
}
.primary {
	margin-bottom: $spacer*2;
	@include breakpoint($desktop) {
		.row {
			@include push(2);
			.col {
				@include column(8);
			}
		}
		blockquote {
			@include pull(2);
		}
	}
}
.team {
	@include adjust-font-size-to(ms(-2, $base-font-size), 0.7);
	text-transform: uppercase;
	margin-bottom: $spacer/2;
	img {
		margin-bottom: 5px;
		width: 100%;
		height: auto;
	}
	.col {
		padding: $spacer/4;
		background: shade($white, 5%);
		@include single-box-shadow(rgba(0, 0, 0, .05), 0px, 0px, 2px, 1px, false);
		font-weight: bold;
		border-bottom: 4px solid $secondary;
		min-height: 198px;
		@include clearfix;
		margin-bottom: $spacer/4 !important;
	}

}
.modal {	
	position: fixed;
	z-index: 999999;
	background: rgba(#000, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include vert-centre(100vh);
	display: none;
	.modal-inner {
		@include intrinsic-ratio(1, 100%/3);
		margin: 0 auto;
		background: $white;
		.msg {
			padding: $spacer/2;
			text-align: left;
		}

	}
	&.on {
		display: block;
	}
}
.modal-trigger {
	position: absolute;
	background: rgba(#000, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	list-style-type: none;
	padding: $spacer $spacer/2;
	opacity: 0;
	@include clearfix;
	@include single-transition(all, 260ms, linear);
	li {
		width: auto;
		float: left;
	}
	span {
		background: $green;
		color: $white !important;
		font-weight: bolder;
		font-size: 11px;
		font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
		text-transform: uppercase;
		padding: $spacer/4;
		width: auto;
		height: $spacer;
		border-bottom: 3px solid shade($green, 20%);
		@include border-radius($radius);
		&:nth-child(1) {
			margin-right: 2px;
		}
		&:hover {
			border-color:  shade($blue, 20%);
			background: $blue;
		}
	}
}
.toggler.trigger {
	position: absolute;
	top: 3px;
	right: 3px;
	&::after {
		background: rgba($white, 0.5);
		position: absolute;
		top: 0;
		right: 0;
		content: "\e803";
		font-family: "fontello";
		line-height: 2.3em;
		width: $spacer;
		height: $spacer;
		display: block;
		text-align: center;
	}
	&.on {
		&::after {
			content: "\e807";
		}
	}
}
.togglee {
	height: auto;
	max-height: 0px;
	overflow: hidden;
	@include single-transition(all, 260ms, linear);
	&.on {
		height: auto;
		max-height: 500px;
	}
}