/* -------------------------------------------------- */

/* !navigation */

/* -------------------------------------------------- */


.logo {
	width: 200px;
	height: 50px;
	a {
		background: url("images/logo.svg") no-repeat top left;
		background-size: cover;
		width: 100%;
		height: 100%;
		display: block;
		text-indent: -9999px;
	}
	margin-bottom: $spacer/2;
	&.show-phone {
		margin: $spacer/2;
		width: 160px;
		height: 40px;
	}
}
.masthead.show-phone {
	background: $black;
	width: 100%;
	@include clearfix;
}
/* !responsive menu */

.viewport {
	position: relative;
	overflow: hidden;
	.menu {
		position: absolute;
		z-index: 999;
		top: $spacer/2;
		right: $spacer/4;
		width: $spacer;
		height: $spacer;
		text-indent: -9999px;
		&:after {
			background: $black;
			color: $white;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			text-indent: 0;
			content: "\e813";
			font-family: "fontello";
			font-size: 20px !important;
			line-height: 2.2em;
		}
	}
	@include breakpoint($tabtop) {
		.menu {
			display: none;
		}
	}
	.main, .menu {
		@include single-transition(-webkit-transform, $duration, $ez-e);
	}
	&.shift {
		.main, .menu {
			@include transform(translateX(-200px));
		}
	}
}
.main {
	background: $white;
	position: relative;

}
*.touch {
	.main {
		@include enable-hardware-acceleration;
	}
}
nav, footer {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			position: relative;
			text-align: left;
			height: $spacer;
			a {
				@extend %links-macro;
			}
		}
	}
	// dd menus (default)
	ul li > ul {
		background: tint($white, 35%);
		position: relative;
		left: 0;
		width: 100%;
		display: none;
		overflow: hidden;
	}
	ul li > ul li {
		width: 100%;	
		white-space: nowrap;
		display: block;
	}
	ul li:hover > ul {
		display: block;
	}
}
#menu[role*="navigation"] {
	background: shade($black, 20%);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	li {
		a {
			color: $green;
		}
	}
}
@include breakpoint($tabtop) {
	#menu[role*="navigation"] {
		background: $black;
		position: relative;
		top: 0;
		width: 100%;
		bottom: auto;
		z-index: 9999 !important;
		border-top: 4px solid $green;
		border-bottom: 1px solid shade($black, 15%);
		.logo {
			float: left;
			margin-top: -$spacer/4;
		}
		.wrapper {
			width: 100%;
			max-width: $max-width;
			margin: 0 auto;
			padding: $spacer*1.5 $spacer 0 $spacer;
		}
		li {
			width: auto;
			a {
				color: $white;
				&:hover {
				}
			}
			&.current {
				a {
					color: $brown;
				}
			}
		}
		ul {
			width: auto;
			float: right;
			> li {
				float: left;
				width: auto;
				border: none;
				&.cta {
					background: $green;
					color: $white;
				}
			}
		}
		// dd menu style
		ul li > ul {
			background: $black;
			position: absolute;
			width: 200px;		
		}
		ul li > ul li {

		}
		.action {
			position: absolute;
			top: 0;
			right: $spacer;
			li:nth-child(n+2) {
				margin-left: 1px;
				a {
					background: $brown;
					font-size: 12px;
					border-bottom: 3px solid shade($brown, 20%);
					@include border-radius( 0 0 $radius $radius);
				}
			}
			li:nth-child(4) {
				a {
					background: $green;
					border-bottom: 3px solid shade($green, 20%);
				}
				&.current {
					a {
						color:$white;
						padding-top: $spacer/2;
						padding-left: $spacer;
						padding-right: $spacer;
					}
				}
			}
		}
	}
}
.subnav {
	background:tint($black, 10%);
	.wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
	ul {
		list-style-type: none;
		width: auto;
		float: right;
		li {
			float:left;
			a {
				padding: $spacer/4;
				display: block;
				color: $brown;
				@extend %links-macro;
				font-size: 14px;
			}
			&.current {
				margin-bottom: -1px;
				a {
					background: $black;
					color: $white;
					border-bottom: 1px solid $black;
				}
			}
		}
	}
}
