/* !typography */


body {
	background: $white;
	font-family: "Legacy Sans ITC W01 Bk", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: $primary;
	@include improve-text-rendering;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: normal;
}


h1 {
	@include adjust-font-size-to(ms(5, $base-font-size), 2);
	@include rhythm(0,0,0,0.25);
	font-weight: 600;
	color: shade($primary, 18%);
}
h2 {
	@include adjust-font-size-to(ms(3.5, $base-font-size), 1.6);
	@include rhythm(0,0,0,0.25);
}
h3 {
	@include adjust-font-size-to(ms(2, $base-font-size), 1.35);
	@include rhythm(0,0,0,0.25);
	
}
h4 {
	@include adjust-font-size-to(ms(1, $base-font-size), 1.3);
	@include rhythm(0,0,0,0.5);
	font-weight: 600;
}
h5 {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	@include adjust-font-size-to(ms(-0.5, $base-font-size), 0.8);
	@include rhythm(0,0,0,0);
	text-transform: uppercase;
	font-weight: bolder;
}
h6 {
	@include adjust-font-size-to(17px);
}
blockquote {
	margin: 0;
	padding: $spacer/2 0 $spacer/2 $spacer/2;
	border-left: 3px solid $secondary;
	color: $black;
	font-family: "Legacy Serif ITC W01 Bk", "Georgia", serif;
	@include adjust-font-size-to(ms(2, $base-font-size), 1.3);
	@include rhythm(1.5,0,0,1.5);
	@include breakpoint($desktop) {
		padding: $spacer/2 0 $spacer/2 $spacer;
	}
}
p {
	@include adjust-font-size-to(ms(0.6, $base-font-size));
	//font-family: "Legacy Serif ITC W01 Bk", "Georgia", serif;
	@include rhythm(0.5,0,0,1);
}
a {
	color: $links;
	text-decoration: none;
	@include single-transition(all, 260ms, linear);
}
hr {
	border: none;
	border-bottom: 1px solid $secondary;
	@include clearfix;
	width: 100%;
	margin-bottom: $spacer/2;
	margin-top: $spacer/2;
}
table {
	width: 100%;
	td {
		font-weight: bold;
		text-transform: uppercase;
		padding: $spacer/4 0;
	}
}