.button {
	@include sassy-button("flat", $radius, 13px, $green, #ffaa1a, $white, "none");
	@include sassy-button-structure($radius, 13px, $spacer/3);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 4px;
	border-bottom: 3px solid shade($green, 20%);
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.options {
	list-style-type: none;
	@include clearfix;
	li {
		border-bottom: 1px solid $secondary;
		&:last-child {
			border: none;
		}
		a {
			@extend %links-macro;
			padding: $spacer/4 0;
			color: $blue;
		}
	}	
	&.alt {
		margin-bottom: $spacer;
		li {
			border: none;
			a {
				text-transform: inherit;
				@include adjust-font-size-to(ms(0, $base-font-size), 1);
				&:before {
					content: "\e82a";
					font-family: "fontello";
					font-weight: normal;
					margin-right: $spacer/4;
					color: $green;
				}
			}
		}
	}
}
.supplements {
	position: relative;
	background: shade($white, 5%);
	@include adjust-font-size-to(ms(0, $base-font-size), 1);
	@include single-box-shadow(rgba(0, 0, 0, .05), 0px, 0px, 2px, 1px, false);
	@include clearfix;
	border-bottom: 4px solid $secondary;
	padding: $spacer $spacer/2 $spacer;
	margin-bottom: $spacer/2;
	ul {
		list-style-type: none;
	}
	li {
		padding: $spacer/4 0;
		border-bottom: 1px solid $secondary;
		&:last-child {
			border: none;
		}
	}
}
.social {
	list-style-type: none;
	@include clearfix;
	li {
		position: relative;
		width: 150px;
		float: left;
		a {
			height: $spacer;
			width: 150px;
			color: $white !important;
			[class*="icon"] {
				font-size: 170%;
			}
			span.label {
				position: absolute;
				top: 11px;
				left: $spacer+5;
				background: $white;
				color: $black;
				width: $spacer;
				height: 20px;
				display: block;
				text-align: center;
				line-height: 1.8em;
				font-size: 11px;
				@include border-radius(3px);
				&::before {
					position: absolute;
					top: 5px;
					left: -10px;
					content: "";
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 5px 10px 5px 0;
					border-color: transparent $white transparent transparent;
				}
			}
		}
	}
}
.ppl {
	list-style-type: none;
	@include clearfix;
	margin-top: 15px;
	li {
		width: 48px;
		height: 48px;
		border: 2px solid $white;
		float: left;
		margin: 1px 1px 0 0; 
	}
}
.ix {
	text-align: center;
	margin: 0 auto;
	width: auto;
	margin-bottom: $spacer;
	border-bottom: 1px solid $secondary;
	@include clearfix;
	ul {
		list-style-type: none;
		overflow: hidden;
		width: auto;
		padding-bottom: 1px;
		margin-bottom: -2px;
		padding-left: $spacer/4;
		li {
			float: left;
			margin-right: 1px;
			@include breakpoint($phone) {
				width: (100%/3);
			}
			a {
				@extend %links-macro;
				background: $blue_light;
				color: $white;
				padding: $spacer/2;
				margin-bottom: 2px;
				&:hover {
					background: $blue;
				}
			}
			&.on {
				
				a {
					background: $white;
					color: $black;
					border: 1px solid  $secondary;
					border-bottom: 1px solid $white;
					margin-bottom: -2px;
				}
			}
		}
	}
}
.box {
	background: $green;
	padding: $spacer/2;
	@include clearfix;
	color: $white;
	.button {
		background-color: $green_light;
	}
}
form {
	input {	
		position: relative;
		border: none;
		background: $white;
		padding:$spacer/2.5;
		font-size: 13px;
		@include border-radius($radius);
		&::-webkit-input-placeholder {
   			font-style: lighter;
   			font-size: 16px;
   			font-family: "Legacy Serif ITC W01 Bk", "Georgia", serif;
   		}
	}
	&.alt {
		margin-top: 4px;
		input {
			background: shade($white, 10%);
			border-bottom: 3px solid shade($white, 20%);
			height: $spacer + 6;
			top: -2px;
			width: 60%;
		}
	}
	input[type=radio] {
    	display:none; 
	}
	input[type=radio] + label {
	    float: left;
	    min-width: $spacer*1.5 + 4;
	    height: $spacer*1.5 + 4;
	    display: block;
	    padding: $spacer/4;
	    border-bottom: 3px solid shade($green, 20%);
	    border-right: 3px solid shade($green, 20%);
	    background: $green_light;
	    @include border-radius($radius);
	    text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin: 0 1px 1px 0;
		cursor: pointer;
		font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
		line-height: $spacer;
	}
	input[type=radio]:checked + label { 
		color: $black;
		background: $white;
	}
}