/* --------------------------------------------------

	FUNCTION PARTIALS
	
-------------------------------------------------- */
%wrapper {
	position: relative;

}
%panel {
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	width: 100%;
	margin-bottom: 1.5em;		
	overflow: hidden;
	padding: $spacer/2;
	@include intrinsic-ratio(1);
}

%links-macro {
	position: relative;
	@include adjust-font-size-to(ms(-1, $base-font-size));
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: $brown_light;
	padding: $spacer/4 0;
	@include breakpoint($phablet) {
		padding: $spacer/4;
		color: $secondary;
	}
	display: block;
	overflow: hidden;
	span[class*="icon"] {
		font-size: large;
	}
}
@mixin vert-centre($height) {
	//position: relative;
	.container {
		display: table;
		width: 100%;
		height: $height;
		text-align: center;
		> div {
			display: table-cell;
			vertical-align: middle;
			//padding: $spacer/2;
		}
	}
}
